 {% extends '::base.html.twig' %}

 {% block body %}
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">MoveMe</a>
    </div> 
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="clients.html">Clients</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="http://www.facebook.com">Facebook</a></li>
                    <li><a href="http://www.twitter.com">Twitter</a></li>
                    <li><a href="https://plus.google.com">Google+</a></li>
                    <li><a href="http://www.linkedin.com">LinkedIn</a></li>
                </ul>
            </li>
        </ul>
    </div>    
</nav>
<!-- End Navigation -->
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{ asset('bundles/acmedemo/images/slide1.jpg') }}">
            <div class="container active">
                <div class="carousel-caption">
                    <h1>MOVE ME</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p><a href="#" class="btn btn-primary btn-large">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('bundles/acmedemo/images/slide2.jpg') }}">
            <div class="container active">
                <div class="carousel-caption">
                    <h1>ALL TRANSPORT COVERED</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p><a href="#" class="btn btn-primary btn-large">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('bundles/acmedemo/images/slide3.jpg') }}">
            <div class="container active">
                <div class="carousel-caption">
                    <h1>NEW - SAFETY MODE</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p><a href="#" class="btn btn-primary btn-large">Sign up today</a></p>
                </div>
            </div>
        </div>
    </div>    
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>    
    
<!--Carousel End -->
<div class="intro-block">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive tpad" src="{{ asset('bundles/acmedemo/images/moveMe.png') }}">
            </div>
            <div class="col-xs-9">
                <h1>MOVE ME <span class="text-muted">&raquo; Your Travel Companion</span></h1>
                <p class="lead">Move Me is a unique App designed to help people all over the world to get home quicker, by connecting with your local transport network</p>
            </div>
        </div>
    </div>    
</div>
<!-- End Intro Text -->
<div class="container padded">
    <div class="row">
        <div class="col-lg-12"><h2>FOUR MODES</h2><hr></div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <img class="img-circle img-responsive" src="{{ asset('bundles/acmedemo/images/speed.jpg') }}">
            <h3>Speed</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-sm-6 col-md-3">
            <img class="img-circle img-responsive" src="{{ asset('bundles/acmedemo/images/eco.jpg') }}">
            <h3>Eco Friendly</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="clearfix hidden-md hidden-lg"></div>
        <div class="col-sm-6 col-md-3">
            <img class="img-circle img-responsive" src="{{ asset('bundles/acmedemo/images/scenic.jpg') }}">
            <h3>Scenic</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-sm-6 col-md-3">
            <img class="img-circle img-responsive" src="{{ asset('bundles/acmedemo/images/safety.jpg') }}">
            <h3>Safety</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
    </div>
</div>    
<!-- End Page Content -->
<div class="marketing">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive" src="{{ asset('bundles/acmedemo/images/app.png') }}">
            </div>
            <div class="col-sm-6">
                <h3 class="tpad">ALWAYS ON HAND</h3><hr>
                <p>Download the App for your device now and try it for yourself. No matter how regularly you make a journey this App will completely change the way you travel.</p>
                <p><a class="btn btn-large btn-primary" href="#">Get it now!</a></p>
            </div>
        </div>
    </div>    
</div> 
<!-- End Marketing Section -->
<div class="info">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 tabbable">
                <!-- Tabs go here -->
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#android" data-toggle="tab">Android</a></li>
                    <li><a href="#bb" data-toggle="tab">Blackberry</a></li>
                    <li><a href="#ios" data-toggle="tab">iOS</a></li>
                    <li><a href="#win" data-toggle="tab">Windows</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="android"><p><img src="{{ asset('bundles/acmedemo/images/gplay.jpg') }}" alt="google" class="pull-right">Android... Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt. <br><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p></div>
                    <div class="tab-pane fade in" id="bb"><p><img src="{{ asset('bundles/acmedemo/images/bbstore.jpg') }}" alt="google" class="pull-right">Blackberry... Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt.<br><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p></div>
                    <div class="tab-pane fade in" id="ios"><p><img src="{{ asset('bundles/acmedemo/images/appstore.jpg') }}" alt="google" class="pull-right">iOS... Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt.<br><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p></div>
                    <div class="tab-pane fade in" id="win"><p><img src="{{ asset('bundles/acmedemo/images/winstore.jpg') }}" alt="google" class="pull-right">Windows... Donec eget sem lacus. Morbi vitae viverra metus. Duis gravida sapien in hendrerit ultricies. Maecenas in vestibulum lectus. Pellentesque eleifend feugiat tincidunt.<br><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></p></div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <!-- Quote go here -->
                <blockquote>
                    <p>&ldquo;This App has completely revolutionized the way we travel, we will never have to wait around in the rain for transport, we can time our day perfectly. I don't know how I ever lived without it.&rdquo;</p>
                    <small>James T. Kirk, <cite title="source title">Starship Enterprise</cite></small>
                </blockquote>
            </div>
        </div>
    </div>       
</div>
<!-- info panel end -->    
<div class="ftr">
    <div class="container">
        <div class="row">
            <footer>
                <div class="pull-left ft_space">
                    <address>
                    <h3>MoveMe Inc.</h3>
                    200 Trafalgar Road<br>
                    Oakville, ON M6L 6Y9<br>
                    <a href="mailto: first.last@moveme.com">hello@moveme.com</a><br>
                    <abbr title="Phone">P:</abbr>906 123-4567
                    </address>
                </div>
                <div class="pull-right ft_space">
                    <img class="img-responsive" src="{{asset('bundles/acmedemo/images/moveMe.png') }}">
                    <p>&copy; MoveMe Inc. 2013</p>
                </div>
            </footer>
        </div>
    </div>    
    
</div>    

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{asset('bundles/acmedemo/js/jquery.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{asset('bundles/acmedemo/js/bootstrap.min.js') }}"></script>
<script>
$(function (){
    $('.carousel').carousel({
        interval: 4000
    });
})    
    
</script>
 {% endblock %}